body{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    text-align: justify;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 72, 0);
    box-shadow: 0px 0px 25px 5px #4444;
    margin: 5px;
    border-radius: 25px;
}

footer{
    width: 100%;
}
li{
    cursor: pointer;
}
ul{
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px 5px #4444;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
ul li:hover{
    color: rgb(255, 72, 0);
}