body{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main p{
    text-align: justify;
    padding: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 89, 255);
    box-shadow: 0px 0px 25px 5px #4444;
    margin: 5px;
    border-radius: 25px;
}

footer{
    width: 100%;
}
li{
    cursor: pointer;
}
ul{
    border-radius: 5px;
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px 5px #4444;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
ul li:hover{
    color: rgb(0, 89, 255);
}

footer p{
    margin-top: 250px;
    margin-left: 15px;
}